body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(imgs/pexels-mikhail-nilov-6835879.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header-container{
    display: flex;
    justify-content: space-around;
    background-color: #FFF;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
}

.pagina-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
}


.logo-empresa{
    font-size: xx-large;
    background-color: #000000;
    font-style: italic;
    color: aliceblue;
    padding: 20px;
}

.button-1{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: -30px;
}

.logo-empresa-button{
    padding: 5px;
}

.lista-container{
    margin: 60px auto 0;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
}

.lista-produtos{
    text-align: center;
}


.receita-mensal-button, .receita-vs-despesas-button, .despesa-mensal-button{
    padding: 5px;
}

.tabela, .tabela th, .tabela td{
    border-collapse: collapse;
    border: 2px solid black;
    margin: 0;
    text-align: center;
}

.tabela th, .tabela td{
    height: 35px;
    width: 150px;
}


.tabela .ButtonDelete{
    cursor: pointer;
    background-color: #8a2be2;
    color: #fff;
    transition: .6s;
    text-align: center;
}
.tabela .ButtonDelete:hover{
    color: #fff;
    background-color: rgb(255, 49, 49);
}

.esmalte, .batom, .laço, .delineador{
    background-color: greenyellow;
}

.saia, .sombreado, .vestido{
    background-color: red;
}

button {
    background-color: #8a2be2; /* roxo médio */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
button:hover {
    background-color: #6a1b9a; /* roxo mais escuro no hover */
}

.adicionar_produto_form{
    margin: 60px auto 0;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
    width: 800px;
    height: 500px;
}

.label_adicionar_produto{
    font-size: 50px;
}

.form_div{
    margin-top: 35px;
    font-size: 25px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: -20px;
}

.input_adicionar{
    width: 230px;
    margin:0px auto;

}


.input_button {
    background-color: #8a2be2; /* roxo médio */
    color: white;
    border: none;
    height: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    transition: background-color 0.3s ease;
    width: 110px;
  }
  
.input_button:hover {
    background-color: #6a1b9a; /* roxo mais escuro no hover */
}

.label_form{
    font-size: 20px;
}

.icon{
    display: flex;
}