<!DOCTYPE html> 
<html> 
    <head> 
        <title>Adicionar Produto</title> 
    </head> 
    <body> 
        <form method="POST"> 
            <label>Adicionar Produto no Estoque</label></br>
            <label>Nome do Produto:</label> 
            <input type="name" name="nome_produto" required><br/> 
            <label>Valor do Produto:</label> 
            <input type="number" name="valor_produto" required><br/> 
            <label>Tipo de Despesa:</label> 
            <input type="name" name="tipo_despesa" required><br/> 
            <label>Categoria:</label> 
            <input type="name" name="categoria" required><br/> 
            <label>Saldo:</label> 
            <input type="name" name="saldo" required><br/> 
            <input type = "submit" value = "submit"/><br/> 
        </form> 
    </body> 
</html>