<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/template.css') }}">
</head>
<body>
    <div class="main-container">
        <div class="pagina-container">
            <div class="logo-empresa">Logo Empresa
                <div class="button-1">
                    <button class="logo-empresa-button">Logout</button>
                    <button class="logo-empresa-button">Histórico de Compras</button>
                </div>
            </div>

            <div class="header-container">
                <button class="adicionar-produto-button">Adicionar Produto</button>
                <button class="remover-produto-button">Remover Produto</button>
            </div>

            <div class="lista-container">
                <h2 class="lista-produtos">Lista de Produtos</h2>
                <table class="tabela">
                    <tr>
                      <th>Descrição</th>
                      <th>Valor</th>
                      <th>Tipo de despesa</th>
                      <th>Categoria</th>
                      <th>Saldo</th>
                    </tr>
                    <tr class="esmalte">
                      <td>Esmalte</td>
                      <td>R$30,00</td>
                      <td>Fixa</td>
                      <td>Beleza</td>
                      <td>POS</td>
                    </tr>
                    <tr class="saia">
                        <td>Saia</td>
                        <td>R$70,00</td>
                        <td>Fixa</td>
                        <td>Moda</td>
                        <td>NEG</td>
                      </tr>
                    <tr class="batom">
                        <td>Batom</td>
                        <td>R$10,00</td>
                        <td>Variável</td>
                        <td>Beleza</td>
                        <td>POS</td>
                    </tr>
                    <tr class="laço">
                        <td>Laço</td>
                        <td>R$5,00</td>
                        <td>Fixa</td>
                        <td>Moda</td>
                        <td>POS</td>
                      </tr>
                      <tr class="sombreado">
                        <td>Sombreado</td>
                        <td>R$25,00</td>
                        <td>Variável</td>
                        <td>Beleza</td>
                        <td>NEG</td>
                      </tr>
                      <tr class="delineador">
                        <td>Delineeador</td>
                        <td>R$15,00</td>
                        <td>Fixa</td>
                        <td>Beleza</td>
                        <td>POS</td>
                      </tr>
                      <tr class="vestido">
                        <td>Vestido</td>
                        <td>R$100,00</td>
                        <td>Variável</td>
                        <td>Moda</td>
                        <td>NEG</td>
                      </tr>
                  </table>
            </div>
        </div>

        <div></div>
    </div>
</body>
</html>
