<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/template.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="main-container">
        <div class="pagina-container">
            <div class="logo-empresa">Logo Empresa
            </div>

            <div class="header-container">
                <button type="button" class="adicionar-produto-button" onclick="window.location.href='{{ url_for('adicionar_produto') }}';">Adicionar Produto</button>
            </div>

            <div class="lista-container">
                <h2 class="lista-produtos">LISTA DE PRODUTOS</h2>
                <table class="tabela" style="border: none;">
                    <tr>
                      <th>Descrição</th>
                      <th>Valor (R$)</th>
                      <th>Tipo de despesa</th>
                      <th>Categoria</th>
                      <th>Saldo</th>
                    </tr>
                    {%for produto in data%} 
                      <tr>
                        <td>{{produto[0]}}</td>
                        <td>{{'%0.2f'|format(produto[1]|float)}}</td>
                        <td>{{produto[2]}}</td>
                        <td>{{produto[3]}}</td>
                        <td>{{produto[4]}}</td>
                        <td style="border: none;" class="icon">
                          <!-- Botão para remover produto -->
                          <form action="/remover_produto" method="post" class="DeleteForm">
                              <input type="hidden" name="nome_produto" value="{{ produto[0] }}">
                              <button type="submit"class="ButtonDelete" style="height:100%;width:90%"><i class="fa fa-trash" style="font-size: 1em;" aria-hidden="true"></i></button>
                          </form>
                      </td>
                      </tr>
                    {%endfor%} 
                  </table>
            </div>
        </div>

        <div></div>
    </div>
</body>
</html>

